<div class="container">
    <div class="py-5 text-center">
        <img *ngIf="statusTracking == 1" class="d-block mx-auto mb-4" src="assets/images/loading.svg" alt="" width="72"
            height="57">
        <img *ngIf="statusTracking == 2" class="d-block mx-auto mb-4" src="assets/images/delivery.png" alt="" width="72"
            height="57">
        <img *ngIf="statusTracking == 3" class="d-block mx-auto mb-4" src="assets/images/done.png" alt="" width="72"
            height="57">
        <img *ngIf="statusTracking == 4" class="d-block mx-auto mb-4" src="assets/images/cancelled.png" alt=""
            width="72" height="57">

        <h2>TRACKING ORDER</h2>
        <p class="lead">Status order: {{statusName}}</p>
    </div>
    <div class="row">
        <table class="font-m">
            <tr>
                <td>Created By:</td>
                <td><strong>{{this.order.user}}</strong></td>
            </tr>
            <tr>
                <td>Created Date:</td>
                <td><strong>{{this.order.createdDate}}</strong></td>
            </tr>
            <tr>
                <td>Updated Date:</td>
                <td><strong>{{this.order.updateDate}}</strong></td>
            </tr>
            <tr>
                <td>Recipient name:</td>
                <td><strong>{{this.order.nameReceiver}}</strong></td>
            </tr>
            <tr>
                <td>Number phone:</td>
                <td><strong>{{this.order.numberPhone}}</strong></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><strong>{{this.order.address}}</strong></td>
            </tr>
        </table>
        <ul class="list-group mb-3">
            <li *ngFor="let item of billDetails" class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h4 class="my-0">{{item.product.title}}</h4>
                    <small class="text-muted">{{item.product.description}}</small>
                </div>
                <span class="text-muted">{{item.product.price | currency:"VND":'symbol':'3.3-3'}}</span>

            </li>

            <li class="list-group-item d-flex justify-content-between bg-light">
                <span>Total (VND)</span>
                <strong>{{ totalPrice| currency:"VND":'symbol':'3.3-3' }}</strong>
            </li>
        </ul>
    </div>

</div>