<div class="container">
    <div class="row">
        <div class="col-md-6 my-5 mx-auto border rounded px-3 py-3" id="form-login">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <div [formGroup]="formGroup" novalidate>
                <div class="form-group">
                    <label for="passwordOld">Old Password</label>
                    <input name="passwordOld" type="password" class="form-control" formControlName="passwordOld" id="passwordOld"
                        placeholder="Enter your old password" required>
                </div>
                <div class="form-group">
                    <label for="passwordNew">New Password</label>
                    <input name="passwordNew" type="password" class="form-control" formControlName="passwordNew" id="passwordNew"
                        placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="passwordNewConfirm">New Password Confirm</label>
                    <input name="passwordNewConfirm" type="password" class="form-control" formControlName="passwordNewConfirm" id="passwordNewConfirm"
                        placeholder="Enter your new password confirm" required>
                </div>
                <div class="form-group btn-login-form">
                    <button mat-raised-button class="px-5" color="primary" (click)="onChangePassword()">Change password</button>
                </div>
            </div>
        </div>
    </div>
</div>