<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/">Clothes Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Product</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/products">All Products</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div *ngFor="let category of categories">
              <li><a class="dropdown-item" [routerLink]="['/products']" queryParamsHandling="merge"
                  [queryParams]="{'type': category.id}">{{category.name}} </a></li>
            </div>

          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/policy">Policy</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/store">Store</a></li>


      </ul>
      <div class="d-flex">
        <div *ngIf="authService.isLoggedIn$ | async; then thenLoggedIn else elseNotLoggedIn"></div>
        <ng-template #thenLoggedIn>

          <span class="navbar-text">
            Hello <strong>{{authService.currentUser.fullname}}</strong>
          </span>
          &nbsp;
          <a class="btn btn-outline-secondary" role="button" (click)="Logout()">Logout</a>
          &nbsp;
          <button class="btn btn-outline-light" role="button" routerLink="change-password" style="justify-content:center; margin:0; padding:0;"><mat-icon style="justify-self:center; margin:0; padding:0;">settings</mat-icon></button>
          &nbsp;
          <button class="btn btn-outline-light" routerLink="/checkout">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartService.countProductInCart()}}</span>
          </button>
        </ng-template>
        <ng-template #elseNotLoggedIn>
          <li class="navbar-text  ml-auto">
            <a class="btn btn-outline-secondary" role="button" routerLink="/login">Login</a>
          </li>
        </ng-template>

      </div>
    </div>
  </div>
</nav>